version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: ./docker/django/Dockerfile
    command: /start
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    expose:
      - 8000
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=tirpura.settings
      - PG_HOST=postgres-db
      - PG_PORT=5432
    depends_on:
      - postgres-db
    networks:
      - stock-management_stock # Use the correct network name

  postgres-db:
    image: postgres:13.0-alpine
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - stock-management_stock # Use the correct network name


  nginx:
    build:
      context: ./docker/Nginx
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - api
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    ports:
      - "80:80"
    networks:
      - stock-management_stock

  redis:
      image: redis:5-alpine
      networks:
          - stock-management_stock

  celery_worker:
      build:
          context: .
          dockerfile: ./docker/django/Dockerfile
      command: /start-celeryworker
      volumes:
          - .:/app
      env_file:
          - .env
      environment:
          - DJANGO_SETTINGS_MODULE=tirpura.settings
          - PG_HOST=postgres-db
          - PG_PORT=5432
      depends_on:
          - redis
          - postgres-db
      networks:
          - stock-management_stock

networks:
  stock-management_stock:
    driver: bridge
   
volumes:
  postgres_data:
  static_volume:
  media_volume:
