version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: ./docker/django/Dockerfile
    command: /start
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    expose:
      - 8000
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=tirpura.settings
      - PG_HOST=postgres-db
      - PG_PORT=5432
    depends_on:
      - postgres-db
    networks:
      - stock-management_stock # Use the correct network name

  postgres-db:
    image: postgres:13.0-alpine
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - stock-management_stock # Use the correct network name


  nginx:
    build:
      context: ./docker/Nginx
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - api
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    ports:
      - "80:80"
    networks:
      - stock-management_stock

  redis:
      image: redis:5-alpine
      networks:
          - stock-management_stock

  celery_worker:
      build:
          context: .
          dockerfile: ./docker/django/Dockerfile
      command: /start-celeryworker
      volumes:
          - .:/app
      env_file:
          - .env
      environment:
          - DJANGO_SETTINGS_MODULE=tirpura.settings
          - PG_HOST=postgres-db
          - PG_PORT=5432
      depends_on:
          - redis
          - postgres-db
      networks:
          - stock-management_stock

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - stock-management_stock

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin123
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    networks:
      - stock-management_stock

  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    networks:
      - stock-management_stock

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - stock-management_stock


  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres_exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres-db:5432/${POSTGRES_DB}?sslmode=disable"
    ports:
      - "9187:9187"
    networks:
      - stock-management_stock
    depends_on:
      - postgres-db
      
  redis_exporter:
    image: oliver006/redis_exporter:latest
    container_name: redis_exporter
    environment:
      - REDIS_ADDR=redis:6379
    ports:
      - "9121:9121"
    networks:
      - stock-management_stock
    depends_on:
      - redis


networks:
  stock-management_stock:
    driver: bridge
   
volumes:
  postgres_data:
  static_volume:
  media_volume:
  grafana_data:

