{% extends 'base.html' %}
{% load static %}
{% block title %} Overall Reports {% endblock %}
  
{% block content %}
<style>
h3{
    text-align: center;
}
.summary li{
    color: rgb(38, 111, 5);
}
    table {
        margin-bottom: 20px;
    }
</style>
<div style=" width: 100%;">
<div class="about-product">
    <div style="display: flex;">
        <div class="summary">
            <h3>Overall Summary</h3>
            <ul style="list-style: none;">
               
                <li>
                   <strong> Total Profit:</strong> NRs {{ total_profit }}
                </li>
                <li>
                    <strong> Total Revenue:</strong>NRs {{total_revenue}}
                </li>
          
            </ul>
        </div>
        <div style="padding-left: 10%;">

       
      
        <!-- Display the bar chart -->
        <img  src="data:image/png;base64,{{ graph }}" alt="Top Sales Graph" />

        </div>
    </div>
   
<div>
    
    <h3>Sales Summary</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity Sold</th>
                <th>Revenue</th>
            </tr>
        </thead>
        <tbody>
            {% for product, data in sales_summary %}
            <tr>
                <td>{{ product }}</td>
                <td>{{ data.quantity }}</td>
                <td>{{ data.revenue }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}