* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-body {
  display: flex;
  flex: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  font-size: 1rem;
}
#today_date {
  border: 1px solid #e0e0e0;
  padding: 2px 5px;
  border-radius: 5px;
  font-family: Calibri;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
.sidebar {
  background-color: #2c3e50;
  color: white;
  width: 15%;
  padding: 30px 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scrollbar-width: none;
}
.logo_div {
  text-align: center;
}
#logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.sidebar h2 {
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  margin-bottom: 30px;
  border-bottom: 2px solid #34495e;
  padding-bottom: 10px;
  text-align: center;
}
.sidebar a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 14px 10px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
.sidebar a:hover {
  background-color: #34495e;
}
.main-content {
  flex: 1;
  padding: 0 15px;
}
.header {
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #f0f4f8;
  padding: 20px 0;
  margin-bottom: 25px;
}
.company_title {
  font-size: 1.8rem;
  color: #2c3e50;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}
#address {
  margin-top: 5px;
  font-size: 1rem;
  text-transform: capitalize;
}
