* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8fffc;
  display: flex;
}
.logo {
  height: 50px;
  width: 10vw;
  background-image: url("images/tripura.png");
  background-size: cover;
}
.menu {
  height: 100vh;
  width: 10vw;
  background-color: #333333;
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}
.dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.nav_bar {
  height: 50px;
  width: 100%;
  padding-left: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", Verdana, sans-serif;
  display: flex;
  align-items: center;
  gap: 2vmin;
  border-bottom: 1.5px solid grey;
  box-sizing: content-box;
}
.nav_bar input {
  height: 40px;
  width: 20%;
  position: absolute;
  right: 20px;
  padding: 10px;
  font-size: small;
  color: grey;
  font-family: sans-serif;
  border-radius: 4px;
}
#nav_intro {
  padding: 3px;
  border-right: 2px solid grey;
  padding-right: 30px;
  font-size: 1rem;
  p {
    font-size: 0.8rem;
  }
}
#date {
  font-family: sans-serif;
  border: 1px solid rgb(161, 155, 155);
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 3px;
}
.stock_overview {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 30px;
  padding-right: 30px;
  gap: 5vmin;
}
.total_items {
  flex: 1;
  height: 80%;
  background-color: #a4c4be;
  border-radius: 10px;
}
.new_added {
  flex: 1;
  height: 80%;
  background-color: #a4c4be;
  border-radius: 10px;
}
.sold_out {
  flex: 1;
  height: 80%;
  background-color: #a4c4be;
  border-radius: 10px;
}
.form-container {
  margin-bottom: 30px;
}
.table-container {
  margin-top: 30px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid #ddd;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}
