{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="{% static 'js/base.js' %}" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title> {% block title %} default title {% endblock %}
  </title>
</head>

<body>
  <div class="main-body">
    <div class="sidebar">
      <div class="logo_div">
        <img id="logo" src="{% static 'images/image.png' %}" alt="">
      </div>
      <a href="{% url 'manage_inventory' %}">Dashboard</a>
      <a href="{% url 'view_stock' %}">Stock </a>
      <a href="{% url 'manage_product_and_purchase' %}"> Products </a>
      <a href="{% url 'customer_details' %}"> Customers </a>
      <a href="{% url 'create_bill' %}"> Create Bill</a>
      <a href="{% url 'overall_top_sales' %}">Overall Report</a>
 
    
    </div>
    <div class="main-content">
      <div class="header">
        <div class="company_title">
          Tripurasundari Books and Stationery <br>
          <div id="address">Thamel, Kathmandu</div>
        </div>
        <div type="date" id="today_date">Date:</div>

      </div>
      {% block content %}

      {% endblock %}
    </div>
  </div>
</body>

</html>