global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'django'
    static_configs:
      - targets: ['api:8000']

  - job_name: 'celery'
    static_configs:
      - targets: ['celery_worker:8000']

  - job_name: 'redis'
    static_configs:
     - targets: ['redis_exporter:9121']


  - job_name: 'postgres'
    static_configs:
      - targets: ['postgres_exporter:9187']


  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
